<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <script src='https://unpkg.com/@webex/embedded-app-sdk@latest'></script>

    <title>Poll Results</title>
</head>
<body>
    <h1>Poll Results for:</h1>
    <h2><%= Question %></h2>
    <table>
        <thead><tr><th>Answer</th><th>Votes</th></tr></thead>
    
    <% Answers.forEach(function(answer,i){ %>
            <tr><td><%= answer %></td><td id='<%= "votes" + i  %>'></td></tr>
        <% }); %>
    </table>

    <script>
        async function getResults (e) {
            const response = await fetch("./results");
            const results = await response.json();
            results.forEach((element,i) => {
                document.getElementById("votes" + i).innerText = element
            });
        }
        document.addEventListener("DOMContentLoaded", (event) => {
            getResults();
            setInterval(getResults, 1500);
        })

        const app = new window.webex.Application();
        app.onReady().then(() => {
            app.setShareUrl("https://voting.cyclic.app/participant", "", "Voting App")
        })
    </script>
</body>
</html>